<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
</head>
<body>
    <div class="wrapper" id = "wrapper">
        <div class="selectProblem" id="selectProblem">
            <label for="select">Список доступных проблем</label>
            <div class="select">
            <select name="problem" id="select">
                <% problems.forEach(function(item) { %>
                    <option value=<%=String(item.name).split(' ').join("_") %>><%=item.name%></option>
                    <% }); %>
            </select>
            </div>
            <button id="submit">Выбрать</button>
        </div>
            <div class="chooseExperts" id="chooseExperts">
                <h4>Выберите доступных экспертов</h4>
                <ul class="expertsList" id="expertsList"></ul>
                <button id="submit">Выбрать</button>
            </div>
            <div class="tableDiv" id="tableDiv">
                <table id ="table" class="table">
                    <caption id="problemName"></caption>
                </table>
                <h4 id="mainSolution"></h4>
                <button id="resultsButton">Результаты оценки проблемы</button>
                <a href="/"><button class="index">Перейти на главную</button></a>
            </div>
            <div class="results" id="results">
                <canvas id="diagram"></canvas>
                <div id="legend" class="legend"></div>
                <button id="submit">Закрыть окно</button>
            </div>
    </div>
    <script src="/javascripts/user.js" type="text/javascript"></script>
    <script type="text/javascript">
    getArrays(<%-JSON.stringify(problems) %>, <%-JSON.stringify(users)%>);
    </script>
</body>
</html>