<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
</head>
<body>
    <div class="wrapper" id = "wrapper">
        <div class="selectProblem" id="selectProblem">
            <h3>Выберите проблему:</h3>
            <select name="problem" id="select" >
                <% problems.forEach(function(item) { %>
                    <option value=<%=String(item.name).split(' ').join("_") %>><%=item.name%></option>
                    <% }); %>
            </select>
            <button id="submit">Выбрать</button>
        </div>
    </div>
    <script src="/javascripts/user.js" type="text/javascript"></script>
    <script type="text/javascript">
    getArrays(<%-problems %>, <%-users%>);
    </script>
</body>
</html>