body{
    background-color: aqua;
}
.wrapper{
    display: grid;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 35%;
    margin-top: -75px;
    left: 50%;
    margin-left: -250px;
    grid-template-rows: 80% 20%;
}
.form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}
.submit {
    grid-column: 1/3;
}
.regist > button{
    width: 100%;
    height: 100%;
}