body{
    background: lightcyan;
}
.wrapper{
    display: grid;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 35%;
    margin-top: -75px;
    left: 50%;
    margin-left: -250px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}
.wrapper button , .wrapper a{
    width: 100%;
    height: 70px;
}

.title{
    grid-column: 1/3;
    display: grid;
    justify-items: center;
}

.title > h1{
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 25px;
    color: black
}