body{
    background: lightcyan;
}

.wrapper{
    display: grid;
    width: 1000px;
    height: 350px;
    position: absolute;
    top: 35%;
    margin-top: -75px;
    left: 50%;
    margin-left: -325px;
}

.selectProblem{
    display: grid;
    width: 400px;
    height: 100px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 20px;
}
 